{% extends 'base.html.twig' %}

{% block title %}New Professors{% endblock %}

{% block body %}
    <h1>Create new Professors</h1>

    {{ include('professors_crud/_form.html.twig') }}

    <a href="{{ path('app_professors_crud_index') }}">back to list</a>
{% endblock %}
