{% extends 'base.html.twig' %}

{% block title %}ExamsMean index{% endblock %}

{% block body %}
    <h1>ExamsMean index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exams_mean in exams_means %}
            <tr>
                <td>{{ exams_mean.id }}</td>
                <td>
                    <a href="{{ path('app_exams_mean_show', {'id': exams_mean.id}) }}">show</a>
                    <a href="{{ path('app_exams_mean_edit', {'id': exams_mean.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exams_mean_new') }}">Create new</a>
{% endblock %}
