{% extends 'base.html.twig' %}

{% block title %}ExamsMean{% endblock %}

{% block body %}
    <h1>ExamsMean</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exams_mean.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exams_mean_index') }}">back to list</a>

    <a href="{{ path('app_exams_mean_edit', {'id': exams_mean.id}) }}">edit</a>

    {{ include('exams_mean/_delete_form.html.twig') }}
{% endblock %}
